<% include header %>
<body background="/images/Hd.jpg">

          
              <br>
              <br>
              <br>
              <br>
              <br>                  
              <div class="container-fluid"  >
                  <div class="row justify-content-md-center"d>
                 <div class="col-xs-12 col-md-8"> 

    <div  id="birth_date_input"><strong>Birth Date: </strong> <input type="date" id="birth_date"></div>
    <br/>
    <div id="calculate">Calculate your age</div>        
    <div id="age_container">
        <span id="exact_age">Age</span></div>
        </div>

    </div>      
</div>
<% include footer %>