<% include header %>
<body background="/images/northwest.jpg">
              <div class="container">
                    <div class="col-md-8">    
<header><h1>INTRODUCTION</h1></header>

<main>
 
<article>
<section>
<h3>Present:</h3>
<p>I am a new graduate student of Fall batch pursuing my masters in Applied Computer science.</p>
</section>
<section id="past-section">
<h3>Past:</h3>
<p>I completed my undergraduate recently from St. Martin`s Engineering College affiliated to Jawaharlal Nehru Technological University - Hyderabad, In Information Technology.</p>
</section>
<section id="future-section">
<h3>Future:</h3>
<p>My goal is to become a software developer and hope I would reach my goal one-day :).</p>
</section>
<section>
<h3 class="section-header">Schedule:</h3>
<ol type="1">
<li>Web Applications</li>
<li>Advance topics in Database Systems</li>
<li>Object-Oriented Programming</li>
</ol>
</section>
<aside>
<h4 class="aside-header">More...</h4>
</aside>
<p>connect to my profile`s:  <a href="https://www.linkedin.com/in/karun-bourishetty">LinkedIn</a>
<a href="https://github.com/karunb09">Github</a></p>
</article>

</main>
</div>
<div class="col-md-4">
    <aside>
        <br>
        <div class="embed-responsive embed-responsive-4by3">
            <img class="embed-responsive-item"  id="dp" src="/images/profile.jpg">
          </div>
            <br>
            <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/wxQR5kokq68"></iframe>
        </div>
    </aside>
</div>
</div>
<% include footer %>